.Page{
  background-color: black;

}
.header {
  display: flex;
  height: 40px;
  background-color: #1f2937;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.LOGO{
  color: #f9faf8;
  size: 24px; 
  flex: 4;
}
.header .LINKS{
  display: flex;
  align-self: flex-end;
  justify-content: space-evenly;
  padding-inline: 4px;
  color: #e7e5eb;
  size: 18px; 
  flex-basis: 45%;

}
.tital{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}